.block {
  text-align: left;
}

article form{
  text-align:center;
  width: 100%;
}

article input, article textarea{
  width: 100%;
  max-width: 700px;
  padding: 5px;
}

article textarea{
 height: 25px;
}
.formContent{
  height: 100%;
  min-height: 400px;
}

form a{
  margin-right: 20px;
}

.block h2{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

button{
  width: 100px;
  height: 30px;
  background: linear-gradient(
      to right, #67AECA, #675682
    );
  color: white;
  border: none;
  border-radius: 10px;
}

button:hover {
  background: linear-gradient(
      to right, #E52A6F, #5F0F4E
    );
}
